html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
}

.search-box {
    max-width: 480px;
    width: 100%;
}

.navbarcontentp {
    text-decoration: none;
}

.navbarcontentp:hover {
    text-decoration: underline;
}

.iconinnavbar {
    width: 30px;
    padding-left: 5px;
    border-radius: 50%;
}

.iconinnavbar:hover {
    background-color: #c5c5c5;
}

#locationPath {
    margin-left: 45px;
    margin-top: 10px;
    font-size: 13px;
}

.category-scroll-2-title {
    margin: 40px 0 0 40px;
    font-weight: 700;
}

.category-scroll-2 {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 10px;
    scroll-behavior: smooth;
}

.category-scroll-2::-webkit-scrollbar {
    display: none;
}


.category-card-3 {
    width: 323px;
    background: #fff;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    color: #111;
    flex-shrink: 0;
}



.category-card-2-img-2 {
    width: 100%;
    height: 323px;
    object-fit: cover;
    border-radius: 6px;
}

.product-info {
    margin-top: 12px;
}

.product-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2px;
}

.product-desc {
    font-size: 13px;
    color: #555;
    margin-bottom: 6px;
}

.product-price {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 6px;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    color: #f5a623;
}

.product-rating span {
    font-size: 12px;
    color: #555;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 18px;
    color: #111;
}

.category-card-3:nth-child(1):hover img {
    content: url("https://www.ikea.com/in/en/images/products/klippkaktus-storage-box-for-fridge-transparent__1275788_pe930673_s5.jpg?f=m");
}

.category-card-3:nth-child(2):hover img {
    content: url("https://www.ikea.com/in/en/images/products/klippkaktus-storage-turntable__1368765_pe957902_s5.jpg?f=m");
}

.category-card-3:nth-child(3):hover img {
    content: url("https://www.ikea.com/in/en/images/products/klippkaktus-container-w-tap-disp-for-fridge-transparent__1467194_pe995685_s5.jpg?f=m");
}

.category-card-3:nth-child(4):hover img {
    content: url("https://www.ikea.com/in/en/images/products/klippkaktus-storage-box-for-fridge-set-of-3-transparent__1467189_pe995679_s5.jpg?f=m");
}

.category-card-3:nth-child(5):hover img {
    content: url("https://www.ikea.com/in/en/images/products/klippkaktus-storage-basket-for-fridge-transparent__1467185_pe995677_s5.jpg?f=m");
}

.ikea-footer {
    background-color: #f5f5f5;
}

.footer-list li {
    margin-bottom: 8px;
}

.footer-list a {
    font-size: 14px;
    text-decoration: none;
    color: #111;
}

.footer-list a:hover {
    text-decoration: underline;
}

.footer-link {
    font-size: 14px;
    text-decoration: underline;
    color: #111;
}

.footer-icon {
    font-size: 20px;
    cursor: pointer;
}