body {
    font-family: 'Noto Sans', sans-serif;
}
.search-box {
    max-width: 480px;   
    width: 100%;
}
.navbarcontentp{
    text-decoration: none;
}
.navbarcontentp:hover {
    text-decoration: underline;
}
.iconinnavbar{
    width: 30px;
    height: auto;
    align-items: center;
    padding-left: 5px;
    border-radius: 100px;
}
.iconinnavbar:hover{
    background-color: #c5c5c5;  
}
#locationPath{
    margin-left: 45px;
    font-size: small;
    margin-top: 10px;
}

.ikea-footer {
  background-color: #f5f5f5;
}

.footer-list li {
  margin-bottom: 8px;
}

.footer-list a {
  text-decoration: none;
  color: #111;
  font-size: 14px;
}

.footer-list a:hover {
  text-decoration: underline;
}

.footer-link {
  font-size: 14px;
  color: #111;
  text-decoration: underline;
}

.footer-icon {
  font-size: 20px;
  cursor: pointer;
}

.titles{
    margin-left: -40px;
}

#buttons{
    background-color: black;
    color: white;
    width: 200px;
    text-decoration: none;
    padding: 10px;
    margin-left: -30px;
    border-radius: 50px;
    font-weight: 500;
}

.acc{
    margin-left: -40px;
    position: sticky;
    top: 10px;
}

.product-card {
  background: #fff;
  cursor: pointer;
  width: 100%;
  position: relative;

}

.product-img {
  position: relative;
  overflow: hidden;
  height: 241px;
  width: 100%;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.4s ease;
}

.product-img img:nth-child(2) {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.product-card:hover .product-img img:nth-child(1) {
  opacity: 0;
}

.product-card:hover .product-img img:nth-child(2) {
  opacity: 1;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #e00751;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  font-weight: 600;
}

.product-info {
  padding-top: 12px;
}

.product-title {
  font-weight: 700;
  margin-bottom: 4px;
}

.product-desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

.price {
  font-weight: 700;
}

.price .old {
  text-decoration: line-through;
  color: #777;
  font-size: 14px;
  margin-left: 6px;
}

.offer {
  font-size: 13px;
  color: #007bc1;
  font-weight: 600;
}
.product-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.product-link:hover {
  color: inherit;
}
