.search-box {
    max-width: 480px;   
    width: 100%;
}

#navbarcontentp{
    text-decoration: none;
}
#navbarcontentp:hover {
    text-decoration: underline;
}

#iconinnavbar{
    width: 30px;
    height: auto;
    align-items: center;
    padding-left: 5px;
    border-radius: 100px;
    
}
#iconinnavbar:hover{
    background-color: #c5c5c5;
    
}

.category-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 10px;
    scroll-behavior:smooth;
}


.category-scroll::-webkit-scrollbar {
    display: none;
}

.category-card {
    flex-shrink: 0;
    width: 160px;
    text-align: center;
    text-decoration: none;
    color: #111;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 12px;
}

.category-card img {
    width: 100%;
    height: 90px;
    object-fit: contain;
}

.category-card p {
    margin-top: 10px;
    font-size: 14px;
}

.category-card:hover {
    border: solid;
    border-color: black;
}
