.search-box {
    max-width: 480px;   
    width: 100%;
}

#navbarcontentp{
    text-decoration: none;
}
#navbarcontentp:hover {
    text-decoration: underline;
}

#iconinnavbar{
    width: 30px;
    height: auto;
    align-items: center;
    padding-left: 5px;
    border-radius: 100px;
    
}
#iconinnavbar:hover{
    background-color: #c5c5c5;
    
}

.category-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 10px;
    scroll-behavior:smooth;
}


.category-scroll::-webkit-scrollbar {
    display: none;
}

.category-card {
    flex-shrink: 0;
    width: 160px;
    text-align: center;
    text-decoration: none;
    color: #111;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 6px;
    height: auto;
}

.category-card img {
    width: 100%;
    height: 90px;
    object-fit: contain;
}

.category-card p {
    margin-top: 10px;
    font-size: 14px;
}

.category-card:hover {
    border: solid;
    border-color: black;
}

.container-fluid-a {
    display: grid;
    grid-template-columns: 681px 334px 334px;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: center;
}

/* Big image */
#leftcolimg {
    width: 681px;
    height: 794px;
    object-fit: cover;
    grid-row: span 2;
}

/* Right columns */
.right-col,
.right-end-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Images */
#secA, #secD {
    width: 334px;
    height: 335px;
    object-fit: cover;
}

#secB, #secC {
    width: 334px;
    height: 447px;
    object-fit: cover;
}

html, body {
    overflow-x: hidden;
}

