body {
    font-family: 'Noto Sans', sans-serif;
}
.search-box {
    max-width: 480px;   
    width: 100%;
}
.navbarcontentp{
    text-decoration: none;
}
.navbarcontentp:hover {
    text-decoration: underline;
}
.iconinnavbar{
    width: 30px;
    height: auto;
    align-items: center;
    padding-left: 5px;
    border-radius: 100px;
}
.iconinnavbar:hover{
    background-color: #c5c5c5;  
}
.category-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 10px;
    scroll-behavior:smooth;
}
.category-scroll::-webkit-scrollbar {
    display: none;
}
.category-card {
    flex-shrink: 0;
    width: 160px;
    text-align: center;
    text-decoration: none;
    color: #111;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 6px;
    height: auto;
}
.category-card img {
    width: 100%;
    height: 90px;
    object-fit: contain;
}
.category-card p {
    margin-top: 10px;
    font-size: 14px;
}
.category-card:hover {
    border: solid;
    border-color: black;
}
.container-fluid-a {
    display: grid;
    grid-template-columns:2fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: center;
}
/* Big image */
#leftcolimg {
    width: 681px;
    height: 794px;
    object-fit: cover;
    grid-row: span 2;
}

.right-col,
.right-end-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#secA, #secD {
    width: 334px;
    height: 335px;
    object-fit: cover;
}
#secB, #secC {
    width: 334px;
    height: 447px;
    object-fit: cover;
}
html, body {
    overflow-x: hidden;
} 
.category-scroll-2 {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 10px;
    scroll-behavior:smooth;
}
.category-scroll-2::-webkit-scrollbar {
    display: none;
}
.category-card-2 {
    flex-shrink: 0;
    height: 325px;
    width: 233px;
    text-align: center;
    text-decoration: none;
    color: #111;
    padding: 15px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}

.category-card-2 p {
    margin-top: 10px;
    font-size: 14px;
}
.category-card-2:hover {
    text-decoration: underline;
}
.category-card-2-img{
    height: 265px;
    width: 185px;
}
.img-box {
    position: relative;
    width: fit-content;
}

.img-box img {
    display: block;
    width: 100%;
    border-radius: 8px;
}

.img-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    padding: 12px 16px;
    border-radius: 8px;
    
}


.img-text h4,
.img-text h5 {
    margin: 0;
    font-weight: 700;
}

.img-text p {
    margin: 4px 0 0;
    font-size: 14px;
}
.img-text:hover{
    text-decoration: underline;
}
.welcomecardTN{
    background-color: #007cc2;
    padding: 30px;
    color: white;
}
.tn{
    text-decoration: none;
}
.tn:hover{
    text-decoration: underline;
}
.ikea-footer {
  background-color: #f5f5f5;
}

.footer-list li {
  margin-bottom: 8px;
}

.footer-list a {
  text-decoration: none;
  color: #111;
  font-size: 14px;
}

.footer-list a:hover {
  text-decoration: underline;
}

.footer-link {
  font-size: 14px;
  color: #111;
  text-decoration: underline;
}

.footer-icon {
  font-size: 20px;
  cursor: pointer;
}